[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "==22.12.0"
deputydev-core = { ref = "feature/common-code-separation", git = "ssh://git@github.com/tata1mg/deputydev-core.git" }
#deputydev-core = {path = "/Users/anand/Desktop/1mg/bitbucket/deputydev-core"}
websockets = "==12.0"

[dev-packages]
flake8 = "==7.1.1"
black = "==22.12.0"
isort = "==5.13.2"

[requires]
python_version = "3.9"